<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="1vw">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div fxLayoutGap="10px">
      <mat-card>
          <mat-toolbar color="primary">
              <mat-toolbar-row>
                <img src="../assets/tasklist.png" class="logo">
                <span>ToDo</span>
              </mat-toolbar-row>
            </mat-toolbar>   
            <app-todo></app-todo>
      </mat-card>
  </div>
  <div>
      <mat-card>
          <mat-toolbar color="primary">
              <mat-toolbar-row>
                <span>Your Current Tasks</span>
              </mat-toolbar-row>
            </mat-toolbar>   
            <app-task></app-task>
      </mat-card>
  </div> 
</div>




